<h2>Nova kursna lista</h2>
<hr>
<form  #newKursnaLista="ngForm" (ngSubmit)="onNewKursnaListaSubmit(newKursnaLista)">
  <div class="form-group" onsubmit="submitGlavna()">
    <label for="primenjujeSeOd">Primenjuje se od</label>
    <input type="date" name="primenjujeSeOd" id="primenjujeSeOd" class="form-control" ngModel>
  </div>
  <div class="form-group">
    <label for="pib">PIB</label>
    <input type="text" name="pib" id="pib" class="form-control" ngModel>
  </div>
  <div class="form-group">
    <label for="naziv">Naziv</label>
    <input type="text" name="naziv" id="naziv" class="form-control" ngModel>
  </div>
  <input type="submit" value="Dodaj" class="form-control">
</form>

<h3>Valute</h3>
<hr>
<form #newValuta="ngForm" (ngSubmit)="onNewValutaSubmit(newValuta)">
  <div class="form-group">
    <label for="kupovni">Kupovni</label>
    <input type="number" name="kupovni" id="kupovni" class="form-control" ngModel>
  </div>
  <div class="form-group">
    <label for="srednji">Srednji</label>
    <input type="number" name="srednji" id="srednji" class="form-control" ngModel>
  </div>
  <div class="form-group">
    <label for="prodajni">Pupovni</label>
    <input type="number" name="prodajni" id="prodajni" class="form-control" ngModel>
  </div>
  <div class="form-group">
    <label for="osnovna">Osnovna valuta</label>
    <input type="text" name="osnovna" id="osnovna" class="form-control" ngModel>
  </div>
  <div class="form-group">
    <label for="prema">Prema valuti</label>
    <input type="text" name="prema" id="prema" class="form-control" ngModel>
  </div>
  <input type="submit" value="Dodaj valutu" class="form-control">
</form>
