<div class="conteiner">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading tabbable full-width-tabs">
          <ul class="nav nav-tabs list-inline" style="margin-top: 1em;">
            <li class="nav-item active" [routerLinkActive]="['active']">
              <a class="nav-link" routerLink="country" class="glyphicon glyphicon-menu-left">Drzave<a class="glyphicon glyphicon-menu-right"></a>
              </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" routerLink="city" class="glyphicon glyphicon-menu-left">Naseljena mesta<a class="glyphicon glyphicon-menu-right"></a>
              </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" routerLink="valuta" class="glyphicon glyphicon-menu-left">Valuta<a class="glyphicon glyphicon-menu-right"></a>
              </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" routerLink="lista" class="glyphicon glyphicon-menu-left">Kursna lista<a class="glyphicon glyphicon-menu-right"></a>
              </a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" routerLink="vrstaPlacanja" class="glyphicon glyphicon-menu-left">Vrsta placanja<a class="glyphicon glyphicon-menu-right"></a></a>
            </li>
          </ul>
        </div>
        <div class="panel-body">
          <div class="tab-content">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>