<h1 class="page-header">
  Drzave
  <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#addForm">
    <i class="fa fa-plus"></i>Add country</button>
</h1>
<hr/>


<div class="table-responsive">
  <table class="table table-sm table-striped table-bordered">
    <thead class="thead-dark">
      <tr>
        <th class="col-xs-2">Sifra</th>
        <th class="col-xs-4">Naziv</th>
        <th class="col-xs-2">&nbsp;</th>
        <th class="col-xs-1">&nbsp;</th>
        <th class="col-xs-1">&nbsp;</th>
        <th class="col-xs-1">&nbsp;</th>
        <th class="col-xs-1">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let count of pageset.content; let i = index">
        <td class="col-xs-2">{{count.sifraDrzave}}</td>
        <td class="col-xs-4">
          <b>{{ count.nazivDrzave | uppercase }}</b>
        </td>
        <td class="col-xs-2">
          <button class="btn btn-success" (click)="fillField(count)" data-toggle="modal" data-target="#editCountry">
            Izmeni drzavu </button>
        </td>
        <td class="col-xs-1">
          <button class="btn btn-primary" (click)="selected = count" data-toggle="modal" data-target="#addCity">
            Dodaj grad </button>
        </td>
        <td class="col-xs-1">
          <button class="btn btn-primary" routerLink="/panel/naseljenomesto/{{count.sifraDrzave}}">
            <i class="glyphicon glyphicon-tower"></i>Gradovi</button>
        </td>
        <td class="col-xs-1">
          <button class="btn btn-primary" (click)="selected = count" data-toggle="modal" data-target="#addValute">
            Dodaj valutu </button>
        </td>
        <td class="col-xs-1">
          <button class="btn btn-primary" routerLink="/panel/valuta/{{count.sifraDrzave}}">
            <i class="glyphicon glyphicon-usd"></i>Valute</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<nav>
  <ul class="pagination pagination-sm justify-content-center" *ngIf="pageset.totalPages > 0">
    <li class="page-item">
      <a class="page-link" *ngIf="!pageset.first" (click)="firstPage()">
        <<</a>
    </li>
    <li class="page-item">
      <a class="page-link" *ngIf="!pageset.first" (click)="previousPage()">
        <</a>
    </li>
    <li *ngFor="let n of range()" [ngClass]="{'page-item': true}">
      <a [ngClass]="{'page-link': true, 'active': n == page}" (click)="goToPage(n)" *ngIf="n != page">{{n+1}}</a>
      <span [ngClass]="{'page-link': true, 'active': n == page}" *ngIf="n == page">{{n+1}}</span>
    </li>
    <li class="page-item">
      <a class="page-link" *ngIf="!pageset.last" (click)="nextPage()">></a>
    </li>
    <li class="page-item">
      <a class="page-link" *ngIf="!pageset.last" (click)="lastPage()">>></a>
    </li>
  </ul>
</nav>


<!--MODALNI ZA DODAVANJE DRZAVE -->
<div id="addForm" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form class="form-horizontal" #addForm="ngForm" (submit)="addCountry()">
          <div class="form-group">
            <label for="nazivDrzave" class="col-sm-2 control-label"> Name: </label>
            <div class="col-sm-10">
              <input type="text" ngModel #name="ngModel" name="nazivDrzave" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="sifraDrzave" class="col-sm-2 control-label"> Sifra: </label>
            <div class="col-sm-10">
              <input type="text" ngModel #name="ngModel" name="sifraDrzave" class="form-control">
            </div>
          </div>
          <input type="submit" class="btn btn-primary" value="Add " />
        </form>
      </div>
    </div>
  </div>
</div>

<div id="addCity" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="margin: 1em">
        <form class="form-horizontal" #addCityF="ngForm" (submit)="addCity()">
          <div class="form-group">
            <label for="nazivGrada" class="col-sm-2 control-label"> Naziv: </label>
            <input type="text" ngModel #name="ngModel" name="nazivGrada" class="form-control">
          </div>
          <div class="form-group">
            <label for="sifraGrada" class="col-sm-2 control-label"> Sifra: </label>
            <input name="sifraGrada" type="text" ngModel #sifraGrada="ngModel"  class="form-control">
          </div>
          <div class="form-group">
            <label for="pttOznaka" class="col-sm-2 control-label"> PTT Oznaka: </label>
            <input name="pttOznaka" type="text" ngModel #pttOznaka="ngModel"  class="form-control">
          </div>
          <input type="submit" class="btn btn-primary" value="Dodaj grad" />
        </form>
      </div>
    </div>
  </div>
</div>
<!--dodavanje valute -->
<div id="addValute" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="margin: 1em">
        <form class="form-horizontal" #addValuteF="ngForm" (submit)="addValute()">
          <div class="form-group">
            <label class="col-sm-2 control-label"> Naziv: </label>
            <input type="text" ngModel #name="ngModel" name="naziv" class="form-control">
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"> Sifra: </label>
            <input type="text" ngModel #sifra="ngModel" name="sifra" class="form-control">
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label"> Domaca: </label>
            <input type="checkbox" ngModel #domaca="ngModel" name="domaca" class="form-control">
          </div>
          <input type="submit" class="btn btn-primary" value="Dodaj valutu" />
        </form>
      </div>
    </div>
  </div>
</div>


<!-- MODALNI ZA EDIT KATEGORIJE -->
<div id="editCountry" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body" style="margin: 3em">
        <form class="form-horizontal" #editForm="ngForm" (ngSubmit)="editCountry()">
          <div class="form-group">
            <label for="nazivDrzave" class="col-sm-2 control-label"> Naziv: </label>
            <div class="col-sm-10">
              <input type="text" ngModel #name="ngModel" name="nazivDrzave" class="form-control" id="nazivDrzave">

            </div>
          </div>
          <div class="form-group">
            <label for="sifraDrzave" class="col-sm-2 control-label"> Sifra: </label>
            <div class="col-sm-10">
              <input type="text" ngModel #name="ngModel" name="sifraDrzave" class="form-control" id="sifraDrzave">
            </div>
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Izmeni drzavu" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
