<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/home" class="navbar-brand">Poslovna informatika</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/importrtgs"> <i class="glyphicon glyphicon-open"></i> Import RTGS  </a></li>
        <li><a routerLink="/importclearing"> <i class="glyphicon glyphicon-open"></i> Import Clearing  </a></li>
        <li><a routerLink="/export"> <i class="glyphicon glyphicon-open"></i> Export </a></li>
     
      </ul>
    </div>
  </div>
</nav>
